.about-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HERO */
.hero-section {
   width: 100%;
  padding: 130px 1.5rem 140px;
  background-color: #00000025;
  color: #28075a;

  display: flex;              /* مهم */
  flex-direction: column;     /* مهم */
  align-items: center;        /* مهم */
  justify-content: center;    /* مهم */

  text-align: center; 
}

.hero-title {
    text-align: center;
  font-size: clamp(1.3rem, 4vw, 3.5rem);
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: clamp(0.9rem, 2vw, 1.4rem);
  max-width: 40rem;
  margin: 0 auto;
  opacity: 0.8;
}

/* PILLARS */
.pillars-section {
  width: 100%;
  padding: 5rem 1.5rem;
  background-color: #f3f3f3;
}

.section-title {
  font-size: clamp(1.3rem, 4vw, 2rem);
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

.pillars-grid {
  max-width: 72rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.pillar-card {
  background-color: #6330d34a;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.pillar-title {
    text-align: center;
font-size: clamp(1rem, 4vw, 1.2rem);
  font-weight: 600;
  margin-bottom: 1rem;
}

.pillar-text {
    text-align: center;
  color: #4b5563;
}

/* EMOTIONAL SECTION */
.emotional-section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #301f6a;
  color: #fff;
}

.emotional-content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: clamp(0.9rem, 4vw, 1.1rem);
  line-height: 1.8;
}

.emotional-content p {
  margin-bottom: 1.5rem;
}

/* INNOVATION */
.innovation-section {
  width: 100%;
  padding: 5rem 1.5rem;
  background-color: #f3f3f3;
}

.innovation-grid {
  max-width: 72rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.innovation-card {
  background-color: #6330d34a;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.innovation-title {
    text-align: center;
  font-size: clamp(1rem, 4vw, 1.2rem);
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.innovation-text {
    text-align: center;
  color: #4b5563;
}

/* MISSION & VISION */
.mission-section,
.vision-section {
  width: 100%;
  padding: 5rem 1.5rem;
  background-color: #fff;
}

.mission-vision-content {
  max-width: 48rem;
  margin: 0 auto;
  text-align: center;
}

.mission-vision-text {
  color: #4b5563;
  font-size: 1.1rem;
  line-height: 1.8;
}

/* RESPONSIVE */
@media (min-width: 768px) {
  .pillars-grid,
  .innovation-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
