.banner {
    width: 100%;
    height: clamp(320px, 55vw, 700px);
    background-size: cover;
    background-repeat: no-repeat;
}

.dailysupBanner {
    background-image: url("/images/dailysuper-banner.png");
}

.novaBanner {
    display: block;
    background-image: url("images/novamorph-banner.png");
}

@media (max-width:580px) {
    .dailysupBanner {
        background-image: url("/images/dailysuper-banner-mobile.png");
        width: 100%;
        height: 500px;
        background-position: center;
    }

    .novaBanner {
        background-image: url("/images/novamorph-banner-mobile.png");
        width: 100%;
        height: 540px;
        background-position: center;
    }
}


