.powerTitle {
    color: var(--orange);
    font-size: 20px;
}

.bestseller {
    background-color: var(--orange);
    padding: 5px;
    border-radius: 10px;
}


.productCard {
    position: relative;
}

.productCard:hover {
    transform: scale(102%);
    transition: 0.2s;
}

.productMain {
   
}

.productLast {
    max-width: 80%;
    margin: 0 auto;
    border: 2.5px solid var(--purple);
}

.cardTitle {
    color: var(--purple);
    text-wrap: nowrap;
}

.psyTag {
    background-color: var(--purple);
}

.phTag {
    background-color: var(--orange);
}

@media (min-width: 992px) {
    .cardTitle {
        font-size: 27px !important;
    }
}